<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <a class="brand" href="#">Home</a>
    <ul class="nav">
      <li class = "active"><a href="programing.html">Programing</a></li>
      <li><<%= link_to "home", home_path %></li>
      <li><a href="terminal.html">Terminal</a></li>
      <li><a href="Random.html">Random</a></li>
    </ul>
    <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
    </form>
   </div>
  </div>
</div>